/*---------------------------------------------
CONTAINER/ROW
---------------------------------------------*/

.container {
    width: 90%;
    max-width: var(--mobile-width);
    margin: 0 auto;

    
}

.row {

    display: flex;

    &--intro {
        flex-wrap: wrap;

        @include check-media('medium') {
                margin-top: 3em;
                align-items: center;
        }
    }
}

/*---------------------------------------------
HEADER
---------------------------------------------*/
.hero {
    background-color: var(--neutral-pale-cyan);
    padding: 2em 0;

    
    .container {
        width: 90%;
    }

    &__bg {
        position: absolute;
        z-index: 0;
        top: 0;
    }

    &__nav {
        padding-top: 1em;

        .row {
            align-items: center;
            justify-content: space-between;
        }
    }

    

    &__text {
        z-index: 10;

        margin-top: 5em;
        @include flex;
        flex-direction: column;
        align-items: center;
        
        @include check-media('medium') {
            margin-top: 3em;
            align-items: flex-start;
            flex: 0 0 50%;
        }
    }

    &__title {
        line-height: 30px;
        font-size: 1.6rem;
        text-align: center;
        font-weight: var(--heading-weight);
        
        @include check-media('medium') {
            text-align: left;
            line-height: 50px;
            font-size: 3rem;
        }
    }

    &__paragraph {
        margin: 1em 0 2em 0;
        text-align: center;
        font-size: 1rem;
        font-weight: var(--body-weight-regular);
        color: var(--neutral-dark-cyan);

        @include check-media('medium') {
            
            text-align: left;
            max-width: 500px;
        }
    }

    &__image-placeholder {
        z-index: 10;

        margin-top: 2em;
        @include check-media('medium') {
            margin-top: 0em;
            flex: 0 2 50%;
        }
    }
}

/*---------------------------------------------
SECTION - CARDS
---------------------------------------------*/
.info {
    margin-top: 4em;
}

/*---------------------------------------------
FOOTER
---------------------------------------------*/
.footer {
    margin-top: 15em;
    background-color: var(--neutral-dark-cyan);
    padding: 10em 0 2em 0;
    position: relative;

    .row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 2em;
    }

    .container--footer {
        position: absolute;
        right: 0;
        left: 0;
        top: -110px;
    }

    &__banner {
        position: relative;
        background: var(--primary-white);
        padding: 3em 1em;
        max-width: 700px;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 1px 4px 1px hsla(0, 0%, 55%, 0.212);

        @include flex;
        flex-direction: column;
        align-items: center;

        @include check-media('medium') {
            padding: 4em 0;
        }
    }

    &__title {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1em;

        @include check-media('medium') {
            font-size: 1.5rem;
        }
    }

    &__intro {
        margin-bottom: 2em;
    }

    &__paragraph,
    &__email,
    &__number {
        font-size: 1rem;
        color: var(--primary-white);
        font-weight: var(--body-weight-regular);

        @include flex();
        align-items: flex-start;
    }

    &__paragraph {
        line-height: 25px;

        @include check-media('medium') {
            max-width: 400px;
        }

        &::before {
            content: url(../images/icon-location.svg);
            margin-right: 0.7em;
            display: inline-block;
            margin-top: 0.3em;
            
        }
    }

    &__number {
        margin: 1em 0;
        &::before {
            content: url(../images/icon-phone.svg);
            margin-right: 0.7em;
            display: inline-block;
            margin-top: 0.3em;
            
        }
    }

    &__email {
        &::before {
            content: url(../images/icon-email.svg);
            margin-right: 0.7em;
            display: inline-block;
            margin-top: 0.3em;
            
        }
    }

    &__links {
        @include flex();
        flex-direction: column;
        
        

        
        @media screen and (max-width: 440px) {
            
            flex: 0 0 100%;
        }
    }

    &__link {
        font-size: 1rem;
        color: var(--primary-white);
        font-weight: var(--body-weight-regular);
        
        &--faq {
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        

        & + & {
            margin-top: 1em;
        }
    }

    &__medias {

        margin: 3em auto 2em auto;

        @include check-media('medium') {
            margin: 0;
        }
    }

    .fab {
        color: var(--primary-white);
        font-size: 16px;
        display: inline-block;
        border-radius: 50%;
        padding: 0.5em 0.8em;
        border: 1px solid var(--primary-white);
    }

    .fab + .fab {
        margin-left: 1em;
    }

    &__copyright {
        font-size: 0.8rem;
        color: var(--primary-white);
        font-weight: var(--body-weight-regular);
        text-align: center;
        align-self: flex-end;

        @include check-media('medium') {
            text-align: end;
        }

        
    }
}