/*---------------------------------------------
CONTAINER/ROW
---------------------------------------------*/

.container {
    width: 87%;
    max-width: var(--mobile-width);
    margin: 0 auto;

    
}

.row {

    display: flex;

    &--intro {
        flex-wrap: wrap;

        @include check-media('medium') {
                margin-top: 3em;
                align-items: center;
        }
    }
}

/*---------------------------------------------
HEADER
---------------------------------------------*/
.hero {
    background-color: var(--neutral-pale-cyan);
    padding: 2em 0;

    

    .container {
        width: 80%;
    }

    &__bg {
        position: absolute;
        z-index: -1;
    }

    &__nav {
        padding-top: 1em;

        .row {
            align-items: center;
            justify-content: space-between;
        }
    }

    

    &__text {
        margin-top: 5em;
        @include flex;
        flex-direction: column;
        align-items: center;
        
        @include check-media('medium') {
            margin-top: 3em;
            align-items: flex-start;
            flex: 0 0 50%;
        }
    }

    &__title {
        line-height: 30px;
        font-size: 1.6rem;
        text-align: center;
        font-weight: var(--heading-weight);
        
        @include check-media('medium') {
            text-align: left;
            line-height: 50px;
            font-size: 3rem;
        }
    }

    &__paragraph {
        margin: 1em 0 2em 0;
        text-align: center;
        font-size: 1rem;
        font-weight: var(--body-weight-regular);

        @include check-media('medium') {
            
            text-align: left;
            max-width: 500px;
        }
    }

    &__image-placeholder {
        margin-top: 2em;
        @include check-media('medium') {
            margin-top: 0em;
            flex: 0 2 50%;
        }
    }
}

/*---------------------------------------------
SECTION - CARDS
---------------------------------------------*/
.info {
    margin-top: 4em;
}

/*---------------------------------------------
FOOTER
---------------------------------------------*/
.footer {
    margin-top: 15em;
    background-color: var(--neutral-dark-cyan);
    padding: 10em 0;
    position: relative;

    .container--footer {
        position: absolute;
        right: 0;
        left: 0;
        top: -110px;
    }

    &__banner {
        position: relative;
        background: var(--primary-white);
        padding: 4em 0;
        max-width: 700px;
        border-radius: 7px;
        margin: 0 auto;
        box-shadow: 0px 1px 6px 3px #4242422e;

        @include flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1em;
    }



}