* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --primary-clr: hsl(322, 100%, 66%);
    --neutral-pale: hsl(193, 100%, 96%);
    --neutral-dark: hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);

    /* Fonts */
    --font-body-size: 18px;
    --headings: 'Poppins', sans-serif;
    --body-and-call: 'Open Sans', sans-serif;
    --poppings-weight: 600;
    --opensans-regular: 400;
    --opensans-bold: 700;

    /* Spacing */

}

.wrapper {
    background-color: var(--neutral-pale);
    position: relative;
    top: 0;
    z-index: -2;
    
}

.header {
    margin: 4% 5%;
}

.header__hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo-container__logo {
    height: 30px;
    float: left;
}

.header__navigation {
    float: right;
}

.header__intro::before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
}

.button {
    font-weight: var(--opensans-bold);
    color: var(--neutral-dark);
    font-size: 10px;
    height: 17px;
    width: 80px;
    background-color: #adadad;
    border-radius: 15px;
    border: none;
    font-family: var(--body-and-call);
}

.button--try-it {
    background-color: #fff;
}

.header__intro {
    clear: both;
    margin-top: 50px;
}

.header__head {
    font-family: var(--headings);
    color: var(--neutral-dark);
    font-weight: var(--poppings-weight);
    font-size: 20px;
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.header__text {
    text-align: center;
    line-height: 1.4em;
    font-family: var(--body-and-call);
    font-weight: var(--opensans-regular);
    max-width: 70vw;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.primary--button {
    width: 150px;
    height: 25px;
    background-color: var(--primary-clr);
    color: #fff;
    font-size: 8px;
    display: block;
    margin: 0 auto;
}