/*---------------------------------------------
VARIABLES
---------------------------------------------*/
:root {
  --primary-white: #ffffffff;
  --primary-color:  hsl(322, 100%, 66%);
  --neutral-pale-cyan: hsl(193, 100%, 96%);
  --neutral-dark-cyan: hsl(192, 100%, 9%);
  --neutral-blue: hsl(208, 11%, 55%);
  --primary-heading-font: 'Poppins', sans-serif;
  --heading-weight: 600;
  --secondary-body-font: 'Open Sans', sans-serif;
  --body-weight-bold: 700;
  --body-weight-regular: 400;
  --body-copy-size: 1.25rem;
  --max-width-desktop: 1440px;
  --max-width-mobile: 375px;
  --z-index-behind: -1
    --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
  --z-index-test: 99999; }

/*---------------------------------------------
MIXINS
---------------------------------------------*/
/*---------------------------------------------
BASIC STYLING
---------------------------------------------*/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: var(--primary-font); }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, h2, h3 {
  font-family: var(--primary-heading-font);
  font-weight: var(--heading-weight); }

a {
  font-family: var(--secondary-body-font);
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: transparent; }

img {
  max-width: 100%; }

p {
  margin: 0;
  font-family: var(--secondary-body-font); }

/*---------------------------------------------
CONTAINER/ROW
---------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--mobile-width);
  margin: 0 auto; }

.row {
  display: flex; }
  .row--intro {
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .row--intro {
        margin-top: 3em;
        align-items: center; } }

/*---------------------------------------------
HEADER
---------------------------------------------*/
.hero {
  background-color: var(--neutral-pale-cyan);
  padding: 2em 0; }
  .hero .container {
    width: 90%; }
  .hero__bg {
    position: absolute;
    z-index: 0;
    top: 0; }
  .hero__nav {
    padding-top: 1em; }
    .hero__nav .row {
      align-items: center;
      justify-content: space-between; }
  .hero__text {
    z-index: 10;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .hero__text {
        margin-top: 3em;
        align-items: flex-start;
        flex: 0 0 50%; } }
  .hero__title {
    line-height: 30px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: var(--heading-weight); }
    @media screen and (min-width: 768px) {
      .hero__title {
        text-align: left;
        line-height: 50px;
        font-size: 3rem; } }
  .hero__paragraph {
    margin: 1em 0 2em 0;
    text-align: center;
    font-size: 1rem;
    font-weight: var(--body-weight-regular);
    color: var(--neutral-dark-cyan); }
    @media screen and (min-width: 768px) {
      .hero__paragraph {
        text-align: left;
        max-width: 500px; } }
  .hero__image-placeholder {
    z-index: 10;
    margin-top: 2em; }
    @media screen and (min-width: 768px) {
      .hero__image-placeholder {
        margin-top: 0em;
        flex: 0 2 50%; } }

/*---------------------------------------------
SECTION - CARDS
---------------------------------------------*/
.info {
  margin-top: 4em; }

/*---------------------------------------------
FOOTER
---------------------------------------------*/
.footer {
  margin-top: 15em;
  background-color: var(--neutral-dark-cyan);
  padding: 10em 0 2em 0;
  position: relative; }
  .footer .row {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .footer .logo {
    margin-bottom: 2em; }
  .footer .container--footer {
    position: absolute;
    right: 0;
    left: 0;
    top: -110px; }
  .footer__banner {
    position: relative;
    background: var(--primary-white);
    padding: 3em 1em;
    max-width: 700px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px 1px rgba(140, 140, 140, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .footer__banner {
        padding: 4em 0; } }
  .footer__title {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .footer__title {
        font-size: 1.5rem; } }
  .footer__intro {
    margin-bottom: 2em; }
  .footer__paragraph, .footer__email, .footer__number {
    font-size: 1rem;
    color: var(--primary-white);
    font-weight: var(--body-weight-regular);
    display: flex;
    align-items: flex-start; }
  .footer__paragraph {
    line-height: 25px; }
    @media screen and (min-width: 768px) {
      .footer__paragraph {
        max-width: 400px; } }
    .footer__paragraph::before {
      content: url(../images/icon-location.svg);
      margin-right: 0.7em;
      display: inline-block;
      margin-top: 0.3em; }
  .footer__number {
    margin: 1em 0; }
    .footer__number::before {
      content: url(../images/icon-phone.svg);
      margin-right: 0.7em;
      display: inline-block;
      margin-top: 0.3em; }
  .footer__email::before {
    content: url(../images/icon-email.svg);
    margin-right: 0.7em;
    display: inline-block;
    margin-top: 0.3em; }
  .footer__links {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 440px) {
      .footer__links {
        flex: 0 0 100%; } }
  .footer__link {
    font-size: 1rem;
    color: var(--primary-white);
    font-weight: var(--body-weight-regular); }
    .footer__link--faq {
      text-transform: uppercase;
      margin-bottom: 1em; }
    .footer__link + .footer__link {
      margin-top: 1em; }
  .footer__medias {
    margin: 3em auto 2em auto; }
    @media screen and (min-width: 768px) {
      .footer__medias {
        margin: 0; } }
  .footer .fab {
    color: var(--primary-white);
    font-size: 16px;
    display: inline-block;
    border-radius: 50%;
    padding: 0.5em 0.8em;
    border: 1px solid var(--primary-white); }
  .footer .fab + .fab {
    margin-left: 1em; }
  .footer__copyright {
    font-size: 0.8rem;
    color: var(--primary-white);
    font-weight: var(--body-weight-regular);
    text-align: center;
    align-self: flex-end; }
    @media screen and (min-width: 768px) {
      .footer__copyright {
        text-align: end; } }

.logo {
  width: 90px;
  z-index: 10; }
  @media screen and (min-width: 768px) {
    .logo {
      width: 140px; } }

.button {
  color: var(--primary-white);
  padding: 0.5em 1.5em;
  z-index: 10;
  border-radius: 3em;
  font-family: var(--primary-heading-font);
  font-weight: var(--body-weight-bold);
  font-size: 0.7rem;
  cursor: pointer; }
  .button__primary {
    padding: 0.8em;
    background-color: var(--primary-color);
    width: 100%;
    max-width: 200px; }
    @media screen and (min-width: 768px) {
      .button__primary {
        padding: 1em; } }
  .button--nav {
    max-width: 110px;
    font-size: 0.7rem;
    padding: 0.3em 1.7em;
    box-shadow: 0 3px 3px 0px #5f5f5f40;
    color: var(--neutral-dark-cyan);
    background-color: var(--primary-white); }
    @media screen and (min-width: 768px) {
      .button--nav {
        max-width: 140px;
        padding: 1em 2em; } }

/*---------------------------------------------
CARDS
---------------------------------------------*/
.card {
  box-shadow: 0px 1px 6px 3px #d2d2d22e;
  border-radius: 7px;
  padding: 4em 2em;
  margin: 2em 0 2em 0; }
  @media screen and (min-width: 768px) {
    .card {
      padding: 4em 6em;
      margin: 3em 0; } }
  .card.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .card__image-placeholder {
    display: flex;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .card__image-placeholder {
        flex: 0 0 50%; }
        .card__image-placeholder--grow {
          order: 10; }
        .card__image-placeholder--users {
          order: 10; } }
  .card__image {
    margin-bottom: 2em;
    width: 70%; }
  @media screen and (min-width: 768px) {
    .card__text {
      flex: 0 0 50%; } }
  .card__title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .card__title {
        text-align: left;
        font-size: 2rem;
        margin-bottom: 0.5em; } }
  .card__paragraph {
    text-align: center;
    color: var(--neutral-blue); }
    @media screen and (min-width: 768px) {
      .card__paragraph {
        text-align: left;
        font-size: 1.4rem; } }
